
@{
    ViewBag.Title = "MapsForDriver";
}

<h2>Direction For Drivers</h2>

<div class="row">
<div class="col-md-12">
  
    <div>
        <div>
            Travel From : <input id="travelfrom" type="text" list="dataddresslist" name="name" value="" />
            To : <input id="travelto" type="text" list="dataddresslist" name="name" value="" />
            <datalist id="dataddresslist">
                <option value="4036 S 76th Street, Milwaukee, WI, USA">2092 S 102nd Street Allis, Milwaukee, WI, USA</option>
                <option value="2323 n Mayfair Rd, Milwaukee, WI, USA">5000 W Chambers, Milwaukee, WI, USA</option>
                <option value="8901 N Brown Deer Rd, Milwaukee, WI, USA">2241 S Kinnicknnic Ave, Milwaukee, WI, USA</option>
                <option value="313 N Plakinton Ave, Milwaukee, WI, USA">5901 N Ironwood Rd, Glendale, WI, USA</option>
            </datalist>
            <input type="button" value="Get Route" onclick="GetRoute()" />
        </div>
    </div>
    <br /><br />
    <div id="dvDistance">Enter a route to get direction</div>

    <div id="dvMap" style="min-height:500px"></div>
</div>
</div>

@section scripts{

    <!--ENSURE YOU CHANGE TO YOUR OWN API KEY HERE !!! -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCSo3QsQQnuXdnT7FXpy6kLulZ3crDKXw4" type="text/javascript"></script>
    <script>
        var source, destination;
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();

        // initialise the location of the map on Chichester in England (ref lat and lng)
        var map = new google.maps.Map(document.getElementById('dvMap'), {
            //Source: https://www.latlong.net/place/milwaukee-wi-usa-2798.html
            center: { lat: 43.038902, lng: -87.906471 },
            zoom: 13,
            mapTypeId: 'roadmap'
        });

        google.maps.event.addDomListener(window, 'load', function () {
            new google.maps.places.SearchBox(document.getElementById('travelfrom'));
            new google.maps.places.SearchBox(document.getElementById('travelto'));
            directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });
        });

        function GetRoute() {

            directionsDisplay.setMap(map);
            source = document.getElementById("travelfrom").value;
            destination = document.getElementById("travelto").value;

            var request = {
                origin: source,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });

            //*********DISTANCE AND DURATION**********************//
            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix({
                origins: [source],
                destinations: [destination],
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
            }, function (response, status) {

                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                    var distance = response.rows[0].elements[0].distance.text;//Distance is text with 'km' appended -- need to parse to remove km
                    var duration = response.rows[0].elements[0].duration.value;
                    var dvDistance = document.getElementById("dvDistance");

                    
                } else {
                    alert("Unable to find the distance via road.");
                }
            });
        }

    </script>

}