@model FreedomTransportation.Models.Customer
@{
    ViewBag.Title = "Make A Payment";
}

<h2>Make A Payment</h2>

<!-- TODO:
    1. Show customer model info
    2. Send customer info to stripe
    3. Load stripe javascript into this page at the bottom
    4. Send stripe action to SchedulingRidesController.cs -> Charges() action method
    5. Fill in Stripe API required information
    -->
<script src="https://checkout.stripe.com/checkout.js"></script>

<button id="customButton">Purchase</button>

<script>
    var handler = StripeCheckout.configure({
        key: 'pk_test_jtXN96zdus4OpW5nVdp0TLLR',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function (token) {
            // You can access the token ID with `token.id`.
            // Get the token ID to your server-side code for use.
        }
    });

    document.getElementById('customButton').addEventListener('click', function (e) {
        // Open Checkout with further options:
        handler.open({
            name: 'Stripe.com',
            description: 'Processing',
            zipCode: true,
            amount: @ViewBag.TotalBillInCents
        });
        e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function () {
        handler.close();
    });
</script>

<!-- Old
<form action="your-server-side-code" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
            data-amount="@ViewBag.TotalBill"
            data-name="Stripe.com"
            data-description="Example charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="false">
    </script>
</form>
-->
